.new-tweet textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid #4c4842;
  resize: none;
  margin: auto;
  display: flex;
}

.new-tweet textarea:focus {
  outline: none;
}

.new-tweet-bot {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  color: #4c4842;
  margin-top: 15px;
}

.new-tweet button {
  width: 110px;
  border: none;
  background-color: #1B7378;
  color: white;
}

.new-tweet button:hover {
  box-shadow: 5px 5px rgb(160, 200, 200);
  cursor: pointer;
}

#error-message {
  width: 100%;
  height: 2em;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  color: red;
  border: 4px solid red;
  margin-bottom: 30px;
  padding-top: 6px;
  display: none;
}

.fa-skull-crossbones {
  float: left;
  margin: 0 20px;
}

#error-message p {
  float: left;
}
