.tweet {
  width: 100%;
  border: 4px solid #4b4741;
  margin-top: 50px;
}

.tweet:hover {
  box-shadow: 10px 10px #c1c3dc;
}

.tweet-text {
  height: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
}

.tweet-text p {
  margin: 0 35px;
}

.tweet header {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet header>p {
  font-size: 36px;
  font-weight: 600;
  color: #c6cbe1;
  margin-right: 30px;
}

.tweet-author {
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 300;
}

.tweet-author img {
  width: 100px;
}

.tweet footer {
  height: 70px;
  width: 98%;
  border-top: 4px solid #4b4741;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet footer p {
  margin-left: 26px;
  font-size: 20px;
}

.interactions {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  color: #3e4d8f;
}

.interactions i:hover {
  color: #c78d30;
  cursor: pointer;
}
